.Loading {
    width: 100%;
    text-align: center;
}

.avatar {
    height: 200px;
}

.usernameLink {
    font-size: 22px;
}

.sidebar * {
    color: #fff !important;
}

.userLink {
    flex: 1;
}

.showOnPikabuImg {
    padding-left: 15px;
}
