.Loading {
    width: 100%;
    text-align: center;
}

.avatar {
    height: 200px;
}

.usernameLink {
    font-size: 22px;
}

.userDataTable {
    margin: 10px 0;
}

.userDataTableRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-bottom: 6px;
}

.userDataTableRow:hover {
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
}

.userDataTableCell {

}

.userDataTableCellLeft {
}

.userDataTableCellRight {
}

.sidebar * {
    color: #fff !important;
}
